<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input field={f[:text]} type="text" label="Text" />
  <.input field={f[:completed]} type="checkbox" label="Completed" />
  <:actions>
    <.button>Submit</.button>
  </:actions>
</.simple_form>
